/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body{
    background:#1f242d;

} */


body {
    background: #f4f7fb;
    color: #222;
} 

/* HEADER */
header {
    width: 100%;
    padding: 20px 60px;
    background: #1f2d3a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header nav a {
    color: #d9d9d9;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
}

header nav a:hover {
    color: #00d084;
}

/* HOME SECTION */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    gap: 60px;
}

.home .text h1 {
    font-size: 40px;
}

.home span {
    color: #00d084;
}

.home img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00d084;
}

/* ABOUT */
.about, .skills, .projects, .contact {
    padding: 70px 60px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1f2d3a;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}

/* SKILLS */
.skill-list span {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #00d084;
    color: white;
    border-radius: 20px;
    font-weight: 600;
}

/* PROJECT CARDS */
.project-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 22px;
    background: #1f2d3a;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background: #00d084;
}

/* CONTACT FORM */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 330px;
}

form input, form textarea {
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

form button {
    padding: 12px;
    background: #00d084;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover {
    background: #1f2d3a;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #1f2d3a;
    color: white;
    margin-top: 40px;
}